@use "../../../scss/variables" as global;

.about-page {
  margin-left: 1em;
  margin-top: 1em;
  margin-right: 1em;
}

.page-title {
  margin-bottom: 0.75em;
}

ul {
  margin-bottom: 0.5em;
  li {
    margin-top: 0.5em;
  }
}

.badge-light {
  color: global.$tertiary-color;
  margin-left: 1em;
}

section:nth-child(1n + 2) {
  margin-top: 1em;
}

.exp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2em;

  .card-title {
    margin-bottom: 0;
  }

  .badge {
    font-size: 1em;
  }
}
